/*========== General CSS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*========== Button 1 CSS ==========*/

.Btn {
  width: 140px;
  height: 40px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "join our gym";
  text-transform: uppercase;
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

/*========== Button 2 CSS ==========*/
.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }

/*========== Navbar Section CSS ==========*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    width: auto;
    height: 140px;
    margin-bottom: 5px;
}

.navbar-links {
    display: flex;
    justify-content: center;
}

.navbar-links li, a {
    margin: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.navbar-links li, a:hover {
    color: goldenrod;
    transition: 0.3s ease-in-out;
}

.navbar-cta .btn-1 {
    font-size: 20px;
    height: 40px;
    margin-right: 20px;
}

/*========== Main Section CSS ==========*/

h1 {
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 70px;
  color: #ffdb3b;
  text-transform: uppercase;
  font-weight: 900;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

/*========== Main 1 CSS ==========*/

.main-1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.m1-side-1 {
  background-color: #fff;
  width: 46vw;
  height: auto;
  border-radius: 20px;
  padding: 25px 50px 25px 50px;
}

.m1-cta {
  display: flex;
  justify-content: space-between;
}

.m1-side-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(/FitFlex-Landing-Page/assets/portrait-muscled-woman-training-with-barbell-isolated-purple-background-neon-light.jpg);
  object-fit: contain;
  background-size: cover;
  background-position: center;
  width: 36vw;
  border-radius: 20px;
  padding: 15px 50px 15px 50px;
}

.m1-side-2 h3 {
  font-size: 50px;
}

.m1-side-2 #icon-1 {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
}

/*========== Main 2 CSS ==========*/

.main-2 {
  display: flex;
  justify-content: space-between;
}

.m2-side-1 {
  display: flex;
  justify-content: space-between;
  width: 46vw;
  border-radius: 20px;
  padding: 15px 50px 15px 50px;
  margin-left: 20px;
  background-color: goldenrod;
}

#m2-img {
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}

#m2-img:hover {
  transform: scale(0.97);
  transition: 0.2s ease-in-out;
}

.m2-side-1b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.b-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.b-info p {
  text-transform: capitalize;
}

.b-info-a {
  display: flex;
  align-items: center;
}

.b-info-a1 {
  text-align: right;
}

.b-info-a2 {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 25px;
}

.b-title h3 {
  color: #000;
}

.m2-side-2 {
  display: flex;
}

.m2-side-2-bg {
  width: 43vw;
  height: auto;
  border-radius: 20px;
  margin-right: 20px;
  background: url(/FitFlex-Landing-Page/assets/preparing-best-young-african-american-bodybuilder-training-grey-background-muscular-single-male-model-sportwear-with-ball-concept-sport-bodybuilding-healthy-lifestyle.jpg);
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.m2-side-2-bg h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  color: goldenrod;
}
/*========== Footer CSS ==========*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-vr {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #fff;
  width: 90%;
  padding: 20px 40px 20px 40px;
}

.footer-info {
  margin: 20px;
  color: #fff;
  text-align: center;
  line-height: 1.7em;
}

.socials {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.socials-hr {
  border-left: 2px solid #fff;
  height: 20px;
  padding-left: 20px;
  margin-top: 10px;
}

.socials-icons {
  margin-right: 20px;
  color: #05a6c2;
  font-size: 20px;
}